.circle {
    border-radius: 50%;
    width: 500px;
    height: 500px;
      margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tick {
    position: absolute;
    left: calc(250px - 110px);
    top: calc(250px - 110px);
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

img{
  width:100%;
  height:100%;
}

.circle .tick:nth-child(1) {
  transform: rotate(0deg) translate(250px) rotateZ(0deg);
  background-color:red;
  padding:30px;
}
.circle .tick:nth-child(2) {
  transform: rotate(60deg) translate(250px) rotateZ(-60deg);
    background-color:orange;
  padding:30px;
}
.circle .tick:nth-child(3) {
  transform: rotate(120deg) translate(250px) rotateZ(-120deg);
    background-color:pink;
  padding:30px;
}
.circle .tick:nth-child(4) {
  transform: rotate(180deg) translate(250px) rotateZ(-180deg);
    background-color:brown;
  padding:30px;
}
.circle .tick:nth-child(5) {
  transform: rotate(240deg) translate(250px) rotateZ(-240deg);
    background-color:blue;
  padding:30px;
}
.circle .tick:nth-child(6) {
  transform: rotate(300deg) translate(250px) rotateZ(-300deg);
    background-color:green;
  padding:30px;
}


.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.pad{
  padding:30px;
  width:auto;
  height:auto;
} 

.pos {
        margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width:500px;
}

