<div class="can">
	<div class="title" >GENRES</div>
	<div class="pad">
		<div  style="background-color: #f18e30;padding:10px;width: 300px;height: 300px;display: flex;align-items: center;justify-content: center;" [routerLink]="['/club']" [queryParams]="{ club: 'cinema'}">
		<img class="img1" src="./../../assets/events/cine.png">
	</div>
	</div>
     <div class="pad">
	<div  style="background-color: #f52e2b;padding:10px;width: 300px;height: 300px;display: flex;align-items: center;justify-content: center;" [routerLink]="['/club']"   
	[queryParams]="{club:'animation'}">
		<img class="img1" src="./../../assets/events/animation.png">
	</div>
 </div>
 <div class="pad">
	<div  style="background-color: #9a275a;padding:10px;width: 300px;height: 300px;display: flex;align-items: center;justify-content: center;" [routerLink]="['/club']"
	[queryParams]="{club:'design'}">
		<img class="img1" src="./../../assets/events/design.png">
	</div>
	</div>
	<div class="pad">
	<div  style="background-color: #3e000c;padding:10px;width: 300px;height: 300px;display: flex;align-items: center;justify-content: center;"[routerLink]="['/club']"
	[queryParams]="{club:'media'}">
		<img class="img1" src="./../../assets/events/media.png">
	</div>
	</div>
	<div class="pad">
	<div  style="background-color: #f26419;padding:10px;width: 300px;height: 300px;display: flex;align-items: center;justify-content: center;" [routerLink]="['/club']"
	[queryParams]="{club:'outreach'}">
		<img class="img1" src="./../../assets/events/outreach.png">
	</div>
	</div>
<div class="pad">
	<div  style="background-color: #21295c;padding:10px;width: 300px;height: 300px;display: flex;align-items: center;justify-content: center;"[routerLink]="['/club']"
	[queryParams]="{club:'photog'}">
		<img class="img1" src="./../../assets/events/photog.png">
	</div>
	</div>
</div>