<div class="main" >
  <div class="title">{{ title }}</div>
	<div class="pad" *ngFor="let items of cart;">
			<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title [innerHTML]="items.name"></mat-card-title>

  </mat-card-header>
  <img mat-card-image src="{{items.img}}">
  <mat-card-content>
    <p [innerHTML]="items.description">
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="checkout(items)">Read problem statement</button>
  </mat-card-actions>
</mat-card>
	</div>
   <button mat-mini-fab class="left" color="primary" (click)="left()"><mat-icon>arrow_left</mat-icon></button>
   <button mat-mini-fab class="right" color="primary" (click)="right()"><mat-icon>arrow_right</mat-icon></button>
   <button mat-mini-fab class="top" color="warn" mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
