::ng-deep .mat-dialog-container {
  background:transparent;
  box-shadow:none;
  scrollbar-width: thin;
}
section{
	background:transparent !important;
}
body::-webkit-scrollbar {
  display: none;
}

.elementor-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}