<div class="main">
  <div class="title">REFERRAL PROGRAM</div>
  <div class="content">
    <div class="no">01</div>
    <div class="q">What is the referral program?</div>
    <div class="a">
The referral program is a great way for the digital art community to come together and provide each other with a platform to showcase their skills among others. Under this program, people registering with the FMC Weekend can promote the same among other digital art enthusiasts whom they know, and provide them with the opportunity to participate in the fest at a discounted price. Not only does it help the expanse of the FMC Weekend but at the same time it also provides you with an opportunity to win exciting prizes.
    </div>
  </div>
  <div class="content">
    <div class="no">02</div>
    <div class="q">How does this program work?</div>
    <div class="a">
      <ul>
        <li>
          Upon registration, the participants would receive a unique referral
          code,
        </li>
        <li>
          This code can then forward to their friends and contacts who’re
          interested in registering for the FMC weekend
        </li>
        <li>
          When someone registers using the referral code provided by you, they
          would be entitled to a 10% discount on all events and workshops
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="no">03</div>
    <div class="q">What are the perks of this program?</div>
    <div class="a">
      As soon as someone registers using your referral code, it would reflect in
      our database. Once there have been 5 registrations using your code, you’d
      enter the Referral program leaderboard which is visible on our website. By
      the end of the fest, the leaders, i.e. participants with the maximum
      number of registrations to their name, would be the recipients of prizes
      worth a total of ₹3000
    </div>
  </div>
  <!--
	<div class="content">
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> code </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

    <ng-container matColumnDef="referals">
    <th mat-header-cell *matHeaderCellDef> referals </th>
    <td mat-cell *matCellDef="let element"> {{element.referals}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


	</div>
</div>
--></div>
