
	<mat-toolbar>
		<button routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" xPosition="before" yPosition="below">
    <img src="./../assets/logo2.svg"> 
  </button>
  <span class="example-spacer"></span>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="signInWithGoogle()">Register</button>
  <button mat-menu-item routerLink="events">Events</button>
<button mat-menu-item routerLink="workshops">Workshops</button>
<button mat-menu-item routerLink="memories">Memories</button>
<button mat-menu-item routerLink="team">Team</button>
<button mat-menu-item   routerLink="leader">Leaderboard</button>
</mat-menu>
</mat-toolbar> 
<router-outlet></router-outlet>
