.main{
width: 100%;
    min-height: 100%;
    display: flex;
    padding-top: 64px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
        background:url('../../assets/d.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  background-attachment: fixed;
}

.img1{
  width:300px;
  height:auto;
      border-radius: 25px 0px 0px 25px;
}

.img2{
  width:300px;
  height:auto;
      border-radius: 0px 25px 25px 0px;
}

.title{
    height: 70px;
    width: 100%;
    line-height: 1.8;
    justify-content: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: unset;
    letter-spacing: 0.2em;
}

b{
  font-size:25px;
}

.txt{
    width: calc(100% - 340px);
    height: auto;
    min-width: 300px;
    font-family: "Lato";
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    color: white;
    font-weight: 500;
}
.t{
  padding:20px 0px 20px 0px;
}
.cont1{height:auto;
  width:100%;
  max-width:900px;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content:center;
      border-radius: 25px;
  background:dimgrey;
}

.cont2{height:auto;
  width:100%;
  max-width:900px;
  align-items: center;
  display:flex;
  flex-wrap:wrap-reverse;
    justify-content:center;
  background:dimgrey;
      border-radius: 25px;
}

@media only screen and (max-width: 600px) {
.img1{
  width:100%;
  height:auto;
      border-radius: 25px 25px 0px 0px;
}
.img2{
  width:100%;
  height:auto;
      border-radius: 25px 25px 0px 0px;
}
.title{
    height: 70px;
    width: 100%;
    line-height: 1.8;
    justify-content: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: unset;
    letter-spacing: 0.1em;
}
}