	<div class="toolbar">
	<div class="logo"></div>
	<div class="links">
			<p [routerLink]="['/events']">events  &nbsp;</p> <p [routerLink]="['/workshops']">workshops &nbsp;</p> <p [routerLink]="['/dash']">dashboard  &nbsp;</p> <p>sponsors  &nbsp; </p>
	</div>
</div>

<div class="can">
	<div class="card">
		<div class="card-content">
			<mat-toolbar (click)="k()">cassandra</mat-toolbar>
			<div class="fill" #drop1>
				<img class="imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGU4OC1X6GKK1T_I5bb1VMyRd_Y45wqexFbw&usqp=CAU">
			<div class="date">21 April 2021</div>
			<div class="ps">cassandra is a pixel art competition conduasdknadnasdflj
			slsnfsfnsjngagndlfg
		sdfnsfkdgjndkgndgangiowegnogwetnvkd fdgegd  fsfsfa sfdfjknfhdfhfh dereryjgg</div> 
			</div>
		</div>
	</div>
		<div class="card">
		<div class="card-content">
			<mat-toolbar>cassandra</mat-toolbar>
			<div class="fill">
				<img class="imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGU4OC1X6GKK1T_I5bb1VMyRd_Y45wqexFbw&usqp=CAU">
			<div class="date">21 April 2021</div>
			<div class="ps">cassandra is a pixel art competition conduasdknadnasdflj
			slsnfsfnsjngagndlfg
		sdfnsfkdgjndkgndgangiowegnogwetnvkd</div> 
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-content">
			<mat-toolbar>cassandra</mat-toolbar>
			<div class="fill">
				<img class="imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGU4OC1X6GKK1T_I5bb1VMyRd_Y45wqexFbw&usqp=CAU">
			<div class="date">21 April 2021</div>
			<div class="ps">cassandra is a pixel art competition conduasdknadnasdflj
			slsnfsfnsjngagndlfg
		sdfnsfkdgjndkgndgangiowegnogwetnvkd</div> 
			</div>
		</div>
	</div>
<div class="card">
		<div class="card-content">
			<mat-toolbar>cassandra</mat-toolbar>
			<div class="fill">
				<img class="imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGU4OC1X6GKK1T_I5bb1VMyRd_Y45wqexFbw&usqp=CAU">
			<div class="date">21 April 2021</div>
			<div class="ps">cassandra is a pixel art competition conduasdknadnasdflj
			slsnfsfnsjngagndlfg
		sdfnsfkdgjndkgndgangiowegnogwetnvkd</div> 
			</div>
		</div>
	</div>
<div class="card">
		<div class="card-content">
			<mat-toolbar>cassandra</mat-toolbar>
			<div class="fill">
				<img class="imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGU4OC1X6GKK1T_I5bb1VMyRd_Y45wqexFbw&usqp=CAU">
			<div class="date">21 April 2021</div>
			<div class="ps">cassandra is a pixel art competition conduasdknadnasdflj
			slsnfsfnsjngagndlfg
		sdfnsfkdgjndkgndgangiowegnogwetnvkd</div> 
			</div>
		</div>
	</div>
<div class="card">
		<div class="card-content">
			<mat-toolbar>cassandra</mat-toolbar>
			<div class="fill">
				<img class="imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGU4OC1X6GKK1T_I5bb1VMyRd_Y45wqexFbw&usqp=CAU">
			<div class="date">21 April 2021</div>
			<div class="ps">cassandra is a pixel art competition conduasdknadnasdflj
			slsnfsfnsjngagndlfg
		sdfnsfkdgjndkgndgangiowegnogwetnvkd</div> 
			</div>
		</div>
	</div>
<div class="card">
		<div class="card-content">
			<mat-toolbar>cassandra</mat-toolbar>
			<div class="fill">
				<img class="imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGU4OC1X6GKK1T_I5bb1VMyRd_Y45wqexFbw&usqp=CAU">
			<div class="date">21 April 2021</div>
			<div class="ps">cassandra is a pixel art competition conduasdknadnasdflj
			slsnfsfnsjngagndlfg
		sdfnsfkdgjndkgndgangiowegnogwetnvkd</div> 
			</div>
		</div>
	</div>



</div> 

