.full{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
      padding-bottom: 10px;
}
.profile{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-top: 64px;
  border-radius:25px;
}

.events{
width: calc(100% - 70px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding-top: 50px; */
    max-width: 800px;
    border-radius: 25px;
}

.pr{
  border-radius:50%;
  width:100px;
}

.pad{
  padding:20px;
  width:auto;
  height:auto;
  position: relative;
}
.t{
    width: 85%;
    max-width: 500px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 4px;
}

.title{
  height:auto;
  width:100%;
  font-size:20px;
  justify-content:center;
    text-transform: uppercase;
        font-weight: 900;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.title2{
width: inherit;
    height: auto;
    font-size: 20px;
    /* justify-content: center; */
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    word-break: break-all;
    padding-left: 20px;
  }

.title3{
     position: relative;
    font-weight: 700;
    text-align: center;
    font-size: xx-large;
  }

@media only screen and (max-width: 700px) {
mat-card{
  width: -webkit-fill-available;
  max-width:300px;
}
.pad{
  padding:0px;
  width:auto;
  height:auto;
}
.events{
width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding-top: 50px; */
    max-width: 800px;
    border-radius: 25px;
}
}
mat-card{
  width: 100%;
  max-width:300px;
}
