.main {
  position: fixed;
 top: 55%;
 left: 50%;
 transform: translate(-50%, -50%);
  height:450px;
  width:400px;
  border-radius:25px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.main2 {
  position: fixed;
 top: 55%;
 left: 50%;
 transform: translate(-50%, -50%);
  height:500px;
  width:400px;
  border-radius:25px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}
mat-toolbar{
border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.fields{
	height:50%;
	width:100%;
	    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
/* Font color */
input.mat-input-element {
  color: black;
}

.fields2{
  height:65%;
  width:100%;
      padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-form-field {
  width: 80%;
  border-radius:25px;
}

#google{
    left: 110px;
    bottom: 30px;
    position: absolute;
}

form{	width:100%;
}

.sbtn{
  float:right;
  right:50px;
}
.fp{
  left: 50px;
  color: royalblue;
  position: absolute;
}

.fp2{
  top: 50px;
    position: relative;
    left: 50px;
    color: royalblue;
}

.btn{
  border:none;
  border-radius: 50%;
}
.forms{
	width:100%;
	  display: flex;
  justify-content: center;
  align-items: center;
      flex-direction: column;
}

.but{
  width:100%;
  height:50px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-label{
  color:#7b1fa2;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
         background-color: whitesmoke;

}

.can{
    position: relative;
    height: -webkit-fill-available;
    width: 100%;
    display: flex;
    align-items:center;
    flex-direction: column;
}

mat-card{
  width: 100%;
  max-width:300px;
}

.card{
	height:fit-content;
	width:80%;
	padding:60px;
}

.card-content{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
	}

.imgs{
	width: 40%;
	--aspect-ratio: 1/1;
	padding:20px;
}

.date{
width: 150px;
    height: 40px;
    background: lavender;
    align-items: center;
    display: flex;
    justify-content: center;
}
.ps{
	width: 100%;
	height: auto;
	min-height :200px;
	text-align: center;
	font-size:30px;
	font-family:monospace;
	line-height:1.8;
}
.full{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.profile{
  width:100%;
  height:250px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-radius:25px;
}

.events{
  width:calc(100% - 70px);
  height:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center; 
  padding-top:50px;
    max-width:800px;
}

.work{
  width:calc(100% - 70px);
  max-width:800px;
  height:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
 padding-top:50px;
}

.pr{
  border-radius:50%;
  width:100px;
}

mat-card{
  width: -webkit-fill-available;
  max-width:300px;
}

.pad{
  padding:20px;
  width:auto;
  height:auto;
}

.title{
  height:auto;
  width:100%;
  font-size:20px;
  justify-content:center;
    text-transform: uppercase;
        font-weight: 900;
    display: flex;
    align-items: center;
    flex-direction: column;
}
