<div class="full" *ngIf="ren">
  <div class="profile">
		<img src="{{ user.photoUrl }}" class="pr">
    <div class="t">
      <button mat-mini-fab><mat-icon>person</mat-icon></button>
      <div class="title2">{{user.firstName}}</div>
  </div>

    <div class="t" *ngIf="dets.email != null">
      <button mat-mini-fab><mat-icon>email</mat-icon></button>
      <div class="title2">{{dets.email}}</div>
  </div>
<div class="t" *ngIf="dets.number != null">
      <button mat-mini-fab><mat-icon>phone</mat-icon></button>
      <div class="title2">{{dets.number}}</div>
  </div>
   <div class="t" *ngIf="dets.organization != null">
      <button mat-mini-fab><mat-icon>school</mat-icon></button>
      <div class="title2">{{dets.organization}}</div>
  </div>
     <div class="t" *ngIf="dets.ref_code != null">
      <button mat-mini-fab><mat-icon svgIcon="refer"></mat-icon></button>
      <div class="title2">{{dets.ref_code}}</div>
  </div>
    </div>
     <div class="t" *ngIf="dets.norefcode != null">
      <button mat-mini-fab><mat-icon>group_add</mat-icon></button>
      <div class="title2">number of referrals : {{dets.norefcode}}</div>
  </div>
	  <div class="events title" *ngIf="!np">
    Registered for the event? Join the Whatsapp group and keep track of any and all further developments
  </div>
  <div class="events" *ngIf="ca && !np">
    <div class="pad" *ngIf="awppass">
      <div
        style="
          width: 80%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          z-index: 100;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
      >
        <button mat-mini-fab color="primary" (click)="left()">
          <mat-icon>arrow_left</mat-icon>
        </button>
        <button
          mat-mini-fab
          style="float: right"
          color="primary" 
          (click)="right()"
        >
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
      <div class="title3">Events</div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title [innerHTML]="event.name"></mat-card-title>
         <!-- <mat-card-subtitle>{{event.date}}</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="{{ event.img }}" />
        <mat-card-content>
          <p  [innerHTML]="event.description">
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="join(event)">Join WhatsApp group</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="pad">
      <div
        style="
          width: 80%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          z-index: 100;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
      >
        <button mat-mini-fab color="primary" (click)="l()">
          <mat-icon>arrow_left</mat-icon>
        </button>
        <button mat-mini-fab style="float: right" color="primary" (click)="r()">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
      <div class="title3">Workshops</div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title [innerHTML]="workshop.name"></mat-card-title>
          <mat-card-subtitle>{{workshop.date}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ workshop.img }}" />
        <mat-card-content>
          <p>
            {{ workshop.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf="np2" (click)="gotowork()">Join WhatsApp group</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="events title" *ngIf="np">
    Registered for the event? Join the Whatsapp group link provided below the events and keep track of any and all further developments.
  </div>
</div>
