<div class="menu" *ngIf="wide">
	<div class="title" *ngIf="p" >Publicity</div>
	<div class="title2" *ngIf="!p" (click)="goto('pub')">Publicity</div>
	<div class="title" *ngIf="d">Creative design</div>
	<div class="title2" *ngIf="!d" (click)="goto('des')">Creative design</div>
	<div class="title" *ngIf="r">relations</div>
	<div class="title2" *ngIf="!r" (click)="goto('rel')">relations</div>
	<div class="title" *ngIf="m">Marketing</div>
	<div class="title2" *ngIf="!m" (click)="goto('mar')">Marketing</div>
</div>
<div class="cards" *ngIf="wide">
	<div class="team"#pub>
	<div class="title" id="pub">Publicity</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg" #design>
	</div>
	<div class="title" id="des">Creative design</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg" #relations>
	</div>
	<div class="title" id="rel">Public relations</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg" #marketing>
	</div>
	<div class="title" id="mar">Marketing</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>

</div>
</div>
<div class="cards2" *ngIf="!wide">
	<div class="team"#pub>
	<div class="title" id="pub">Publicity</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg" #design>
	</div>
	<div class="title" id="des">Creative design</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg" #relations>
	</div>
	<div class="title" id="rel">Public relations</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg" #marketing>
	</div>
	<div class="title" id="mar">Marketing</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>
	<div class="pad">
		<img class="im" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ncis-gibbs-1558711956.jpg">
	</div>

</div>
</div>