<div class="inn" id="cover">
	<div style="background-image: url('./../../assets/bg/2.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
		<div style="background-image: url('./../../assets/bg/3.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
			<div style="background-image: url('./../../assets/bg/4.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
				<div style="background-image: url('./../../assets/bg/5.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
					<div style="background-image: url('./../../assets/bg/6.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
						<div style="background-image: url('./../../assets/bg/7.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
							<div style="background-image: url('./../../assets/bg/8.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
								<div style="background-image: url('./../../assets/bg/9.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
									<div style="background-image: url('./../../assets/bg/10.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
										<div style="background-image: url('./../../assets/bg/11.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
											<div style="background-image: url('./../../assets/bg/12.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll;">
												<div style="background-image: url('./../../assets/bg/13.png');background-position: center;background-repeat: no-repeat;background-size: cover; width:100%;height:100%;background-attachment: scroll; ">
<div class="new2">
	<div class="main3" id="1">
		<div class="sub1">
			<div class="quote3">
</div>

		</div>
</div>

<div class="main3" id="2">
	<div class="sub1">
		<div class="quote3">
	<h1 class="h">About us</h1>
	<h4 >
		What possible purpose could skills in the digital arts serve for engineers? 
		This was the question that stood in front of the founding members of Film & Media Council when they took the initiative to start an organization dedicated to honing the skills of IIT (BHU)’s students in the field of digital arts. Over the few years of its existence, however, the creativity, ingenuity and innovation manifested by the members of FMC have proved that a skillset in this field is an invaluable asset for a 21st century millennial. Through its arsenal of 6 clubs, namely - Photography, Cinematography, Media, Design, Animation and Outreach, FMC allows the students of IIT (BHU) to follow their passions whilst pursuing a formal degree in engineering.
</h4>
</div>
	</div>
</div>

	<div class="main3" id="3">
		<div class="sub1"><div class="quote3">
	<h1 class="h">Join us</h1>
	<h4 >As we take this canvas of dreams on to the internet</h4>
</div></div>
</div>
</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>