<div class="new2">
	<div class="main3 a1">
		<div class="sub1">
			<div class="quote3">
				<img src="./../../assets/land.png" class="landimg">
</div>

		</div>
</div>

<div class="main3 a2" >
	<div class="sub1">
		<div class="quote3">
	<h1 class="h">About us</h1>
	<h4 >
		What possible purpose could skills in the digital arts serve for engineers? 
		This was the question that stood in front of the founding members of Film & Media Council when they took the initiative to start an organization dedicated to honing the skills of IIT (BHU)’s students in the field of digital arts. Over the few years of its existence, however, the creativity, ingenuity and innovation manifested by the members of FMC have proved that a skillset in this field is an invaluable asset for a 21st century millennial. Through its arsenal of 6 clubs, namely - Photography, Cinematography, Media, Design, Animation and Outreach, FMC allows the students of IIT (BHU) to follow their passions whilst pursuing a formal degree in engineering.
</h4>
</div>
	</div>
</div>

	<div class="main3 a3">
		<div class="sub1"><div class="quote3">
	<h1 class="h">Join us</h1>
	<h4 >As we take this canvas of dreams on to the internet</h4>
</div></div>
</div>
</div>
<div class="base">
  <div class="car">
    <div class="title">Conatcts</div>
  </div>
   <div class="car">
    <div class="title">Social Media</div>
    <div class="title2">   
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
    <i class="fa fa-reddit" aria-hidden="true"></i>
  </div>
  </div>
   <div class="car">
    <div class="title"></div>
  </div>
</div>