
.main3{
  width:100%;
  height: auto;
  position: relative;
  background:transparent;
}

h4 {
  font-weight: 400;
  font-size: 23px;
  line-height: 35px;
  }

.body::-webkit-scrollbar {
  display: none;
}

.new2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    width: 100%;
    flex-direction:column;
}
.sub1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}
.quote3{
  color: #ffff;
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 800px;
    align-items: center;
    flex-direction:column;
    text-align: center;
}

.title{
    height:70px;
    width:100%;
    font-size:20px;
    justify-content:center;
    font-size:25px;
    text-transform: uppercase;
        font-weight: 900;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.am {
    background:url('./../../assets/main.png');
    background-position: bottom;
background-repeat: no-repeat;
background-size: cover;
}

.a1 {
    background:url('./../../assets/bg2.png');
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.a2 {
    background:url('./../../assets/d1.jpg');
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.a3 {
    background:url('./../../assets/d2.jpg');
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.h{
    font-weight:600;
    font-size:60px;
    line-height:1;
    font-family: "Lato";
}
.landimg{
    width: 90%;
    max-width: 700px;
}

.img2{
    display: block;
    max-width:230px;
    max-height:250px;
    width: auto;
    height: fit-content;
    padding:20px;
}


.sponsors{
    width:100%;
    height : auto;
    display :flex;
    flex-wrap:wrap;
        align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
  h4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
  }
  .h{
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    font-family: Lato;
  }

}