<div class="new2">
	<div class="main3 am">
		<div class="sub1">
			<div class="quote3">
				<img src="./../../assets/land.png" class="landimg">
</div>

		</div>
</div> 

<div class="main3 a2"  >
	<div class="sub1">
		<div class="quote3">
	<h1 class="h"> FMC Weekend goes online.</h1>
	<h4 >
		After weeks of speculation, uncertainty and postponement, the FMC Weekend is back with a bang. After 6 hugely successful editions, this year's edition is going to be just as majestic as ever. What's even better this time around is the fact that you can have the same surreal experience in its entirety from the comfort of your own homes. Participate in various events to put your mettle to test, attend various workshops conducted by masters of their respective craft to refine your skills, all without getting out of your PJs.
Check out the different sections on the website and once you do, we guarantee that you'll want to experience all the facets of FMC Weekend 2021.

</h4>
</div>
	</div>
</div>

	<div class="main3 a3" >
		<div class="sub1"><div class="quote3">
	<h1 class="h">Campus Ambassador and Referral program</h1>
	<h4 >If spreading the word of God gets you salvation, spreading the word about FMC Weekend has its own benefits, too. More the number of people coming to know of the fest and participating in the events through your reference, greater are your chances of being at the apex of the leaderboard. Click on the link below to know more
</h4>
<button mat-raised-button routerLink="ambassador" color="primary" >CAMPUS AMBASSADOR</button>

</div></div>
</div>
<!--
<div class="sponsors">
	<div class="title">sponsors</div>
	<img src='./../../assets/sponsors/1.png' class='img2'>
<img src='./../../assets/sponsors/1571919184593_logo_stakar_.png' class='img2'>
<img src='./../../assets/sponsors/Cleanupdrive Print-01.jpg' class='img2'>
<img src='./../../assets/sponsors/For Black Backgrounds_QT Logo.png' class='img2'>
<img src='./../../assets/sponsors/IMG-20191010-WA0000.jpg' class='img2'>
<img src='./../../assets/sponsors/IMG_0213.jpg' class='img2'>
<img src='./../../assets/sponsors/Latest logo.jpg' class='img2'>
<img src='./../../assets/sponsors/logo 1.png' class='img2'>
<img src='./../../assets/sponsors/logo foh,sagar, shree bhojnam.jpg' class='img2'>
<img src='./../../assets/sponsors/logo foh,sagar, shree bhojnam.jpg1.jpg' class='img2'>
<img src='./../../assets/sponsors/logo foh,sagar, shree bhojnam.jpg2.jpg' class='img2'>
<img src='./../../assets/sponsors/logo PNG.png' class='img2'>
<img src='./../../assets/sponsors/PHOTO-2019-11-03-14-28-23.jpg' class='img2'>
<img src='./../../assets/sponsors/PINK Final.png' class='img2'>
<img src='./../../assets/sponsors/Red _ Black Logo.jpg' class='img2'>
<img src='./../../assets/sponsors/Renew Ocean.jpg' class='img2'>
<img src='./../../assets/sponsors/SKYVIK Logo.png' class='img2'>
<img src='./../../assets/sponsors/Social media FMC Weekend  20191011_194239.jpg' class='img2'>
<img src='./../../assets/sponsors/Stayers (12).png' class='img2'>
<img src='./../../assets/sponsors/tmp_2019081013065220922.png' class='img2'>
<img src='./../../assets/sponsors/TSS logo.png' class='img2'>
</div>
-->
</div>
