@import url(//db.onlinewebfonts.com/c/ff78c5e2b6c3846035dae28cdaa65583?family=BigNoodleTitling); 
   

@font-face {font-family: "BigNoodleTitling"; src: url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.eot"); src: url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.woff") format("woff"), url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.svg#BigNoodleTitling") format("svg"); }

p{
	word-spacing: 30px;
	font-weight:700;
}
p:focus{
    outline:0;
}
.main3{
  width:100%;
  height: auto;
  position: relative;
  background:transparent;
}

.body::-webkit-scrollbar {
  display: none;
}
.links{
	display:flex;
	align-items:center;
	justify-content:center;
	float:right;
	width:80%;
	text-align: center;
	vertical-align: middle;
	line-height: 70px; 
	font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.quote{
	width: 500px;
	height: 350px;
	    position: relative;
    top: 175px;
    left: 100px;
}

h1{
	font-weight:600;
	font-size:100px;
	line-height:1;
	font-family: "BigNoodleTitling";
}

h2{
		font-weight:600;
	font-size:4rem;
	line-height:1;
	font-family: "BigNoodleTitling";
}

h3{
		font-weight:600;
	font-size:50px;
	line-height:1.5;
	font-family: "BigNoodleTitling";
}
.base{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    height:auto;
}

.image{
	width: 40%;
	background: black;
	height: 400px;
}

.text{
	width: 40%;
	background: black;
	height: 400px;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  height:75%;
  border-radius:20px;
    }

.about{
	font-family:arial,sans-serif;
	font-size: 30px;
	text-align: center;
	line-height:1.8;
}

.quote2{
	    width: 500px;
    height: 350;
    position: relative;
    top: 175px;
    float: right;
    right: 100px;
}


.new{
      display: flex;
    flex-flow: column;
    height : 100vh;
    scroll-behavior:smooth;
}

.sub{
	width : 100%;
	height:100vh;
}
.new::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

.new2{
	display: flex;
	justify-content: center;
	align-items: center;
	height:auto;
	width: 100%;
	flex-direction:column;
}

.sub1{
		width : 100%;
	height:100vw;
	    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.quote3{
	width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: center;
}

.h{
	font-weight:600;
	font-size:60px;
	line-height:1;
	font-family: "BigNoodleTitling";
}

.hh{
		font-weight:600;
	font-size:60px;
	line-height:1;
	font-family: "BigNoodleTitling";
}

.hhh{
		font-weight:600;
	font-size:20px;
	line-height:1.5;
	font-family: "BigNoodleTitling";
}

.inn::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.a1 {
	background:url('./../../assets/bg2.png');
	background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.a2 {
	background:url('./../../assets/bg1.png');
	background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.a3 {
	background:url('./../../assets/bg.png');
	background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.car{
	width:30vw;
	height:180px;
	min-width:300px;
}
.title{
	height:70px;
	width:100%;
	font-size:20px;
	justify-content:center;
    font-size:25px;
    text-transform: uppercase;
        font-weight: 900;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title2{
	height:70px;
	width:100%;
	justify-content:center;
    font-size:25px;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.fa{
	font-size:25px;
	padding:20px;
}
.landimg{
position: absolute;
    width: 90%;
     top: -50%;
    max-width: 300px;
}