<div class="main">

	<img class="img1"  src="../../assets/sponsors/1.png">

	<img class="img1"  src="../../assets/sponsors/2.png">

	<img class="img1"  src="../../assets/sponsors/3.png">

	<img class="img1"  src="../../assets/sponsors/4.png">

	<img class="img1"  src="../../assets/sponsors/5.png">

	<img class="img1"  src="../../assets/sponsors/6.png">

	<img class="img1"  src="../../assets/sponsors/7.png">

	<img class="img1"  src="../../assets/sponsors/8.png">

	<img class="img1"  src="../../assets/sponsors/8.jpg">

</div>