<div class="main">
<div class="title">title sponsor</div>

<img class="img3"  src="../../assets/sponsors/4.png" href="https://moustachehostel.com/">

<div class="title">Powered by</div>

<img class="img2"  src="../../assets/sponsors/6.png" href="https://picsart.com/jobs">

<div class="title">Sponsors</div>
	<img class="img1"  src="../../assets/sponsors/1.png">

	<img class="img1"  src="../../assets/sponsors/2.png">

	<img class="img1"  src="../../assets/sponsors/3.png">

	<img class="img1"  src="../../assets/sponsors/5.png">

	<img class="img1"  src="../../assets/sponsors/7.png">

	<img class="img1"  src="../../assets/sponsors/8.png">

	<img class="img1"  src="../../assets/sponsors/8.jpg">

</div>