<div class="main">
<div class="title">title sponsor</div>

<a  href="https://moustachehostel.com/"><img class="img3"  src="../../assets/sponsors/4.png"></a>

<div class="title">Powered by</div>

<a href="https://picsart.com/jobs"><img class="img2"  src="../../assets/sponsors/6.png" ></a>

<div class="title">Co-Powered by</div>

<a href="https://indiafilmproject.co/"><img class="img1"  src="../../assets/sponsors/3.png"></a>
<a href="https://www.adcomhitech.com/"><img class="img1"  src="../../assets/sponsors/addcom.png"></a>

<div class="title">Event Sponsor- Infocus and Monogram</div>

<a href="https://www.rishinikam-kalakari.com/"><img class="img1"  src="../../assets/sponsors/2.png"></a>

<div class="title">Radio Partner</div>

<a href="https://www.redfmindia.in/"><img class="img1"  src="../../assets/sponsors/7.png"></a>

<div class="title">Career Counselling Partner</div>

<a href="https://yocket.in/"><img class="img1"  src="../../assets/sponsors/8.jpg"></a>

<div class="title">Media Partner</div>

	<a href="https://www.facebook.com/NukkadShows/"><img class="img1"  src="../../assets/sponsors/5.png"></a>

	<a href="https://newsaurchai.com/"><img class="img1"  src="../../assets/sponsors/1.png"></a>

	<a href="https://www.blogadda.com/"><img class="img1"  src="../../assets/sponsors/blogadda.png"></a>

	<a href="https://youthincmag.com/"><img class="img1"  src="../../assets/sponsors/youth.png"></a>

<div class="title">Online Saving Partner</div>

<a href="https://www.grabon.in/"><img class="img1"  src="../../assets/sponsors/grab.png"></a>
</div>